<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="weather_report" translate="label" sortOrder="200">
            <label>Weather Report</label>
        </tab>
        <section id="api" translate="label" type="text" sortOrder="40" showInDefault="1">
            <class>separator-top</class>
            <label>API Info</label>
            <tab>weather_report</tab>
            <resource>Test_Weather::api_config</resource>
            <group id="configuration" translate="label" type="text" sortOrder="90" showInDefault="1">
                <label>API Settings</label>
                <field id="url" translate="label comment" type="text" sortOrder="10" showInDefault="1">
                    <label>API url</label>
                </field>
                <field id="key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1"
                       canRestore="1">
                    <label>API Key</label>
                </field>
                <field id="lat" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Lat</label>
                </field>
                <field id="lan" translate="label comment" type="text" sortOrder="20" showInDefault="1">
                    <label>Lan</label>
                </field>
            </group>
        </section>
    </system>
</config>
